---
import type { CollectionEntry } from 'astro:content';

interface Props {
  posts: CollectionEntry<'blog'>[];
}
const { posts } = Astro.props;
const iso = (d: Date) => d.toISOString().slice(0, 10);
---
<ul class="post-list">
  {posts.map((post) => (
    <li>
      <time datetime={iso(post.data.pubDate)}>{iso(post.data.pubDate)}</time>
      <a href={`/blog/${post.id}/`}>{post.data.title}</a>
    </li>
  ))}
</ul>
